<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Max Resnick Python, Django, and Software Developer Portland</title>
    </head>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans' rel='stylesheet' type='text/css'>
    <link href="{% static "css/toc.css" %}" rel="stylesheet" type="text/css">
    <body>
    <ul>
        <li><a href="about/">About</a></li>
        <li><a href="javapic/">"bare" JavaScript Rotator, Event & Form handling</a></li>
        <li><a href="javapic_jquery/"> JQuery Rotator, Event & Form handling</a></li>
        <li><a href="forum/">AJAX with Google Spreadsheet as a Database</a></li>
        <li><a href="zen_mockup">Zen Garden Style</a></li>
    </ul>
    </body>
    </html>
