<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>javapic</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>

<main>
    <header>javapic <span class="tagline">develop something beautiful</span></header>
    <div id="jumbotron" class="jumbotron">
        <div>a picture is worth a 1000 words</div>
    </div>
    <div class="bottom_jumbo"><a href="join.html">join now</a></div>

</main>
<script src="{% static "js/index.js" %}" type="text/javascript"></script>
</body>
</html>
